body {
  background-color: #0e1823;
  color: #fbfbfb;
  font-weight: 500px;
  font-size: 25px;
}

button {
  cursor: pointer;
}

.form-container {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form-label {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.form-input {
  padding: 20px;
}

.form-button {
  width: 400px;
  margin-top: 30px;
  padding: 15px;
  text-align: center;
  font-size: 25px;
}

.table {
  border: 2px solid white;
  border-collapse: collapse;
}

.table th {
  border: 1px solid white;
  padding: 8px 12px;
}
